#animal-item{
    display: flex;
    flex-direction: column;
    border: #737179 1px solid;
    border-radius: 10px;
    
}

#animal-info{
    background: #242424;
    text-align: center;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#animal-info h2 {
    margin-bottom: 5%;
}

#animal-funFacts li{
    list-style: none;
    text-align: center;
    padding: 1%;
    margin-bottom: 3%;
}

#emoji{
    font-size: 4em;
    margin-bottom: 5%;
}